#main{
    background-color: rgb(252, 221, 213);
    margin: 10px;
    border: 20px;
    width: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.master-wrapper{
    background-color: rgb(253, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#sidebar-productive{
    position: sticky; 
    top: 150px;
    background-color: rgb(241, 96, 96); 
    color: rgb(248, 224, 224); 
    padding: 15px;
    float: left;
    display: inline-block;
    margin: 0px 40px; 
    border-radius: 35px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.7;
    left: 5%;
    
}
.click:link {
    color: red;
  }
.click:visited{
    color: rgb(11, 187, 20);
    text-decoration: none;
    
}
.click:hover{
    color: rgb(182, 29, 106);
    text-decoration: none;
}
.click:active{
    color: blue;
}
.click:link{
    text-decoration: none;
}

.click{
    color:black;
    font-size: 17px;
    justify-content: right;
    align-items: right;
    margin: 10px;
}

/*#ul1 {
    
}

#ul1 > li:hover{
    border: ridge 4px rgb(207, 21, 21);
    padding: 5px;
    display: inline-block;
    height: 45px;
    width: 80px;
    margin: 30px;
}
 
.click
  {
    color: rgb(90, 4, 4);
    font-size: 15px;
    position: relative;
    outline: none;
    border-radius: 20px;
    display: grid;
    justify-content: right;
    align-items: right;
    cursor: pointer;
    height: 45px;
    width: 80px;
    margin: 30px;
  }
*/   









#pic_main{
    position: relative;
    size: 300px;
    width: 700px;  
    justify-content: center;
    align-items: center;
    left: 50px;
    top: 20px;
    border: 3px solid #f78484;
    border-radius: 5px;

}

#div{
    margin: 0;
    padding: 0;
    text-align: left;
    position: relative;
    transform: translateY(50);  
}
.title{
    position: relative;
    left: 0px;
    background-color: rgb(241, 96, 96);
    top: 0px;
    text-align: center;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
#this{
    margin: 36px;
    font-family: Arial, Helvetica, sans-serif;
}
#pic_pomo{
    position: relative;
    size: 200px;
    width: 300px;  
    justify-content: center;
    align-items: center;
    left: 20px;
    float: right;
    border: 3px solid #f78484;
    border-radius: 10px;
    margin: 10px;

}
#pic_tomato{
    
    position: relative;
    size: 200px;
    width: 320px;  
    left: 0;
    float: left;
    border: 3px solid #f78484;
    border-radius: 5px;
    margin: 10px;
    justify-content: left;
    align-items: left;
    top: -70px;
}

.text-box p{
    text-align: left;
    size: 150px;
    text-size-adjust: 100px;
    text-wrap: 30px;
    
}
.text-box-two p{
   
    text-align: left;
    size: 250px;
    text-size-adjust: 100px;
    text-wrap: 20px; 
    justify-content: right;
    align-items: right;
    margin: 100px auto;
}
.font{
    text-decoration:underline ;
    color: #700c0c;
}

/*

.wrapper

position: relative;
    size: 100px;
    width: 200px;  
    left: 20px;
    float: left;
    border: 3px solid #f78484;
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
    align-items: center;

    max-width: 320px;
    float: left;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-right: 15px;

{
    margin: 150px auto;
    width: 70%;
}
#history{

}

#ultraDiv{
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
#ultraDiv > *{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;;
}
@media all and (min-width: 800px){
    .responsive4{
        flex: 3;
    }
    .responsive2{
        order: 1;
    }

}*/